<!DOCTYPE html>
<html>
	<head>
		<title>test de serveur node</title>
	</head>
	<body id="body">
		<p></p>
		<img style="margin: auto; display: block;" src="/image/404.jpg"/>
	</body>
</html>

