<!DOCTYPE html>
<html>
	<head>
		<title>test de serveur node</title>
		<!--<link rel="stylesheet" type="text/css" href="public/style/style.css">-->
	</head>
	<body id="body">
		
		<p>
		Allo!
		</p>

		<!--<script type="text/javascript" src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
		<script src="public/script/socket.io.js"></script>
		<script type="text/javascript" src="public/script/script.js"></script>-->
	</body>
</html>


